.user-setting {
    top: 100px;
    width: 50vw;
    height: auto;
    position: absolute;
    left: 40vw;
    
}

@media screen and (max-width: 800px) {
    .user-setting {
        display: flex;
        align-self: center;
        margin: 20px;

        top: 100px;
        width: 85vw;
        height: auto;
        position: relative;
        left: 0;
        bottom: 0;
        
    }
}